{% extends 'core/base.html' %}

{% block content %}




{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">last login</th>
            <th scope="col">Joined</th>
        </tr>
    </thead>
    {% if members %}
    {% for member in members %}
    <tbody>
        <tr>
            <td>{{member.id}}
            </td>
            <td><a href="{% url 'show_member' member.id %}">{{member.username}} </a></td>
            <td>{{member.last_login}} </td>
            <td>{{member.date_joined}} </td>

        </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>





{% endblock %}