{% extends 'core/base.html' %}

{% block content %}




{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


<div class="card">
    <div class="card-header d-flex">
        <h5 class="mr-auto">{{member.id}}. {{member.username}}</h5>
        <!-- <div>Role</div> -->
    </div>
    <div class="card-body">
        <div class="card-title">
            <h5>Member Information</h5>
        </div>
        <p class="card-text"></p>
        <p class="card-text">First_name: {{member.first_name}}</p>
        <p class="card-text">Last_name: {{member.last_name}}</p>
        <p class="card-text">Email: {{member.email}}</p>
        <h5>Teams:</h5>
        {% if teams %}
        {% for team in teams %}
        <a class="mr-3 text-dark" href="{% url 'show_team' team.id %}">{{team}}</a>
        {% endfor %}
        {% endif %}

        {% if member %}

        {% endif %}
    </div>
    <div class="card-footer text-muted d-flex">
        <a href="{% url 'all_works' %}?searched={{member.username}}" class="btn btn-sm btn-outline-primary mr-2">Show
            Works</a>
        <a href="{% url 'all_commissions' %}?searched={{member.username}}"
            class="btn btn-sm btn-outline-primary mr-2 ">Show commissions</a>
    </div>



</div>

<br>

<div>
    <h4>Histories</h4>
    <h5>Commissions (limit 10)</h5>


    {% for history in histories_commission %}
    <div class="d-flex">
        <a class="text-dark" href="{% url 'show_commission' history.parent_commission.id %}">
            <span class="mr-2">{{history.created_at|date:"y-m-d H:i"}}</span>
            <span style="text-transform: capitalize;">{{history.kind}}</span> No.{{history.parent_commission.id}}
            Commission
        </a>
    </div>
    {% endfor %}

    <br>


    <h5>Works (limit 10)</h5>
    {% for history in histories_work %}
    <div class="d-flex">
        <a class="text-dark" href="{% url 'show_work' history.parent_work.id %}"> <span
                class="mr-2">{{history.created_at|date:"y-m-d H:i"}}</span>
            <span style="text-transform: capitalize;">{{history.kind}}</span> No.{{history.parent_work.id}}
            Work
        </a>
    </div>
    {% endfor %}


</div>




{% endblock %}