{% extends 'core/base.html' %}

{% block content %}




{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


<div class="card">
    <div class="card-header d-flex">
        <h5 class="mr-auto">{{member.id}}. {{member.username}}</h5>
        <div>Status</div>
    </div>
    <div class="card-body">
        <div class="card-title"><h5>{{member.username}}</h5></div>
        <p class="card-text"></p>
        <p class="card-text">first_name: {{member.first_name}}</p>
        <p class="card-text">last_name: {{member.last_name}}</p>
        <p class="card-text">email: {{member.email}}</p>

        {% if member %}

        {% endif %}
    </div>
</div>




{% endblock %}