{% extends 'core/base.html' %}

{% block content %}
<br>
<br>

<div>
	<h3>
		Simple Work and Commission System
	</h3>
	<br>

	{% if user.is_authenticated %}
	<h4>Hello {{user.username}} !!</h4>
	{% else %}
	<h4>Please login at menu button</h4>
	<a class="mb-3 btn btn-outline-primary" href="/members/login_user">Login Page</a>
	{% endif %}

	<br>

	<span class="d-flex">
		<h5>Works</h5>: your (or your team's) project
	</span>
	<span class="d-flex">
		<h5>Commissions (children of a work)</h5>: requests for other departments in the work
	</span>
	In current system a commission could be cancled or completed by client or commission receiver

	<br>
	<br>

	<h5 class="font-weight-bold">I hope that even a simple system could change current situation of workspace.</h5>

	<br>

	<h5> - Diagram of this project system - </h5>
	{% load static %}
	<img src="{% static 'core/imagemap.jpg' %}" alt="My image">

</div>

{% endblock %}