{% extends 'core/base.html' %}

{% block content %}
<br>
<br>

<div>
	<h3>
		Simple Work and Commission System
	</h3>
	<br>

	{% if user.is_authenticated %}
	<h4>Hello {{user.username}} !!</h4>
	{% else %}
	<h4>Please login at menu button</h4>
	<a class="mb-3 btn btn-outline-primary" href="/members/login_user">Login Page</a>
	{% endif %}

	<br>

	Works: your (or your team's) project<br>
	Commissions (child of a work): requests for other departments in the work <br>
	In current system a commission could be cancled or completed by client or commission receiver

</div>

{% endblock %}