{% extends 'core/base.html' %}

{% block content %}

{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>




<div class="d-flex mb-3">
    <div class="mr-auto"></div>
    <form class="form-inline mr-2" method="GET" action="{% url 'all_commissions' %}?searched=">
        <input style="width: 300px;" class="form-control mr-sm-2" value="{{searched}}" name="searched" type="search"
            placeholder="title or team or user" aria-label="Search" autocomplete="off">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">
            Sort
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item " href="?searched={{searched}}&page=1&sort=-created_at">Created</a>
            <a class="dropdown-item" href="?searched={{searched}}&page=1&sort=-date_due">Due</a>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="width: 40%;">title</th>
            <th scope="col">created_by</th>
            <th scope="col">team in charge</th>
            <th scope="col">Due</th>
            <th scope="col">created_at</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    {% if commissions %}
    {% for commission in commissions %}
    <tbody>
        <tr>
            <td>{{commission.id}}
            </td>
            <td><a href="{% url 'show_commission'  commission.id %}"
                    class="text-dark font-weight-bold">{{commission.title}} </a></td>
            <td><a href="{% url 'show_member' commission.created_by.id %}"
                    class="text-dark">{{commission.created_by.username}} </a></td>
            <td><a href="{% url 'show_team' commission.team.id %}" class="text-dark">{{commission.team.name}} </a></td>
            <td>
                <div class="d-flex"> {% if commission.status_due == 'over'%} <div class="text-danger font-weight-bold">
                        {{commission.date_due|date:"y-m-j"}}
                    </div>
                    {% else %}
                    <div>{{commission.date_due|date:"y-m-j"}}</div>
                    {% endif %}
                </div>
            </td>
            <td>{{commission.created_at|date:"y-m-j H:i"}} </td>

            <td>
                {% if not commission.is_cancled %}
                {% if commission.datetime_completed %}
                <span class="text-primary font-weight-bold">Completed</span>
                {% else %}
                <span class="text-danger font-weight-bold">Waitting</span>
                {% endif %}
                {% else %}
                <span class="text-muted font-weight-bold">Cancled</span>
                {% endif %}
            </td>

        </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if commissions.has_previous %}

        <li class="page-item"><a href="?searched={{searched}}&page=1&sort={{sort}}" class="page-link">&laquo First</a>
        </li>
        <li class="page-item"><a href="?searched={{searched}}&page={{commissions.previous_page_number}}&sort={{sort}}"
                class="page-link">previous</a></li>

        {% else %}

        <li class="page-item disabled"><a class="page-link">&laquo First</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>

        {% endif %}

        {% for i in nums %}
        {% if commissions.number == forloop.counter %}
        <li class="page-item disabled"><a class="page-link "
                href="?searched={{searched}}&page={{forloop.counter}}&sort={{sort}}">{{forloop.counter}}
            </a></li>
        {% else %}
        <li class="page-item"><a class="page-link "
                href="?searched={{searched}}&page={{forloop.counter}}&sort={{sort}}">{{forloop.counter}}
            </a></li>
        {% endif %}
        {% endfor %}

        {% if commissions.has_next %}
        <li class="page-item"><a href="?searched={{searched}}&page={{commissions.next_page_number}}&sort={{sort}}"
                class="page-link">next</a></li>
        <li class="page-item"><a href="?searched={{searched}}&page={{commissions.paginator.num_pages}}&sort={{sort}}"
                class="page-link">Last &raquo </a>
        </li>


        {% else %}

        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">Last &raquo </a></li>

        {% endif %}

    </ul>
</nav>


{% endblock %}