{% extends 'core/base.html' %}

{% block content %}

{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>

{% if user.is_authenticated %}


<h4>Parent Work</h4>
<div class="card mb-5">
    <div class="card-header d-flex">
        <h5 class="card-title">No.{{commission.parent_work.id}} {{commission.parent_work.title}}</h5>

    </div>
    <!-- Vertical line -->
    <div style="text-align: center;">
        <div class="vertical"></div>
    </div>
</div>

<h4>Edit Commission</h4>

<form action="" method="POST">
    {% csrf_token %}

    {% for field in form %}
    {{field.label}}
    {{field}}
    {% endfor %}
    <br>

    <input type="submit" value="Submit" class="btn btn-primary">



</form>
{% else %}
<div>
    Please login
</div>
{% endif %}

<br>
<br>



{% endblock %}