{% extends 'core/base.html' %}

{% block content %}

{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>

{% if user.is_authenticated %}


<h4>Edit Team {{team.name}}</h4>



<!-- i dont want to add this button becuz it might... -->
{% for member in members %}
<div class="d-flex mb-1">
    <div class="mr-auto">
        {{member.member}} ({{member.id}})
    </div> <button value="{{member.id}}" name="team_member_id" type="submit" disabled>X</button>
</div>


{% endfor %}




<h4>Current Memers</h4>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}



    <br>
    <h5>add new member</h5>
    {% if form %}
    {{form.member}}
    {% endif %}



    <br>
    <input type="submit" value="Submit" class="btn btn-primary">




</form>
{% else %}
<div>
    Please login
</div>
{% endif %}

<br>
<br>


{% endblock %}