{% extends 'core/base.html' %}

{% block content %}


{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>

{% if user.is_authenticated %}

<h4>Add Work</h4>
<br>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    
    {{form.title.label}}
    {{form.title}}

    {{form.team.label}}
    {{form.team}}

    {{form.date_due.label}}
    {{form.date_due}}
    
    
    {{form.description.label}}
    <br>
    {{form.description}}
    
    {{form.media}}
    <br>


    <input type="submit" value="Submit" class="btn btn-primary">


</form>
{% else %}
<div>
    Please login
</div>
{% endif %}





{% endblock %}