{% extends 'core/base.html' %}

{% block content %}




{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Due</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
        </tr>
    </thead>
    {% if works %}
    {% for work in works %}
    <tbody>
        <tr>
            <td>{{work.id}}</td>
            <td><a href="{%  url 'show_work' work.id %}">{{work.title}} </a></td>
            <td>{{work.date_due}} </td>
            <td>{{work.created_at}} </td>
            <td>{% if work.created_at != work.updated_at %}
                {{work.updated_at}}
                {% else %}
                <div>-</div>
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>



<nav aria-label="Page navigation example">
    <ul class="pagination">

        {% if works.has_previous %}

        <li class="page-item"><a href="?page=1" class="page-link">&laquo First</a></li>
        <li class="page-item"><a href="?page={{venues.previous_page_number}}" class="page-link">previous</a></li>

        {% else %}

        <li class="page-item disabled"><a class="page-link">&laquo First</a></li>
        <li class="page-item disabled"><a class="page-link">previous</a></li>

        {% endif %}


        {% for i in nums %}

        <li class="page-item"><a class="page-link " href="?page={{forloop.counter}}">{{forloop.counter}}
            </a></li>

        {% endfor %}

        {% if works.has_next %}
        <li class="page-item"><a href="?page={{works.next_page_number}}" class="page-link">next</a></li>
        <li class="page-item"><a href="?page={{works.paginator.num_pages}}" class="page-link">Last &raquo </a></li>


        {% else %}

        <li class="page-item disabled"><a class="page-link">next</a></li>
        <li class="page-item disabled"><a class="page-link">Last &raquo </a></li>

        {% endif %}

    </ul>
</nav>




{% endblock %}