{% extends 'core/base.html' %}

{% block content %}




{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Due</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
        </tr>
    </thead>
    {% if works %}
    {% for work in works %}
    <tbody>
        <tr>
            <td><a href="{%  url 'show_work' work.id %}">{{work.title}} </a></td>
            <td>{{work.date_due}} </td>
            <td>{{work.created_at}} </td>
            <td>{% if work.created_at != work.updated_at %}
                {{work.updated_at}}
                {% else %}
                <div>-</div>
                {% endif %}
            </td>
        </tr>
    </tbody>
    {% endfor %}
    {% endif %}
</table>





{% endblock %}