{% extends 'core/base.html' %}

{% block content %}

<style>
    .vertical {
        border-left: 8px solid gray;
        height: 100px;
        position: absolute;
        left: 50%;
    }
</style>


{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


{% if work %}


<div class="card mb-5">
    <div class="card-header d-flex">
        <h5 class="mr-auto"><span class="mr-1">No.{{work.id}}
            </span> {{work.title}} </h5>
        <div>Status</div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Due: {{work.date_due|date:"Y-m-j" }}</h5>
        <p class="card-text">Description: {{work.description}}</p>
        <div>
            Team: <a href="{% url 'show_team' work.team.id  %}">{{work.team}}</a>
        </div>
        <div>
            Created by: <a href="{% url 'show_member' work.created_by.id %}">{{work.created_by}}</a>
        </div>

    </div>
    <div class="card-footer text-muted d-flex">
        <div class="mr-auto">
            Created: {{work.created_at|date:"y-n-j H:i"}}
            {% if work.created_at != work.updated_at %}
            ({{work.updated_at|date:"y-n-j H:i"}})
            {% else %}
            {% endif %}
        </div>
        <a href="{% url 'edit_work' work.id %}" class="btn btn-sm btn-outline-secondary mx-2">Modify</a>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'add_commission' work.id  %}">Add Commission</a>
    </div>

    <!-- Vertical line -->
    <div style="text-align: center;">
        <div class="vertical"></div>
    </div>
</div>



<div class="card">
    <div class="card-header d-flex">
        {% if counts.commissions > 0 %}
        <h5>{{counts.commissions}} commissions</h5>
        {% else %}
        <h5 style="color: gray;">{{counts.commissions}} Commissions</h5>
        {% endif %}
    </div>
</div>


{% for commission in child_commissions %}

{% if commission.datetime_completed or commission.is_cancled %}


<div class="card" style="background-color: gainsboro;">
    {% else %}
    <div class="card">
        {% endif %}

        <div class="card-header d-flex">
            <h5 class="mr-auto">
                <a style="color: black;" href="{% url 'show_commission' commission.id %}">
                    <span class="mr-1">No.{{commission.id}}</span>
                    {{commission.title}}</a>
            </h5>
            <div class="font-weight-bold">
                {% if not commission.is_cancled %}
                {% if commission.datetime_completed %}
                <span class="text-primary font-weight-bold">Completed</span>
                {% else %}
                <span class="text-danger font-weight-bold">Waitting</span>
                {% endif %}
                {% else %}
                <span class="text-muted font-weight-bold">Cancled</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <!-- <div class="card">
        <div class="card-header d-flex">
            <h5>No commission</h5>
        </div>
    </div> -->
    {% endfor %}

    {% endif %}
    <br>
    <br>
    <div class="card mt-5">
        <div class="card-header d-flex">{{counts.comments}} Comments</div>
        <div class="card-body">
            {% for comment in comments %}
            <div class="mb-2 d-flex">
                <div class="font-weight-bold mr-1">{{comment.created_by.username}} : </div>
                <div>{{comment.description}}</div>
                <div style="font-size: 80%;" class="d-flex align-items-end ml-2 text-muted">
                    {{comment.created_at|date:"y-n-j H:i"}}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form action="" method="POST">
        {% csrf_token %}

        {{form_comment.as_p}}
        <input type="submit" value="Add Comment" class="btn btn-primary">


    </form>


    <br>
    <br>

    {% endblock %}