{% extends 'core/base.html' %}

{% block content %}

<style>
    .vertical {
        border-left: 8px solid gray;
        height: 100px;
        position: absolute;
        left: 50%;
    }
</style>


{% if form.erros %}
<p>something worng with your form</p>
{% endif %}

<br>
<br>


{% if work %}


<div class="card mb-5">
    <div class="card-header d-flex">
        <h5 class="mr-auto">{{work.title}} </h5>
        <div>Status</div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Due: {{work.date_due}}</h5>
        <p class="card-text">{{work.description}}</p>
        <div>
            Team: <a href="{% url 'show_team' work.team.id  %}">{{work.team}}</a>
        </div>
        <div>
            Created by: <a href="{% url 'show_member' work.created_by.id %}">{{work.created_by}}</a>
        </div>

    </div>
    <div class="card-footer text-muted d-flex">
        <div class="mr-auto">
            Created: {{work.created_at|date:"y-n-j H:i"}}
            {% if work.created_at != work.updated_at %}
            ({{work.updated_at|date:"y-n-j H:i"}})
            {% else %}
            {% endif %}
        </div>
        <button class="btn btn-sm btn-outline-secondary mx-2">Modify</button>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'add_commission' work.id  %}">Add Commission</a>
    </div>

    <!-- Vertical line -->
    <div style="text-align: center;">
        <div class="vertical"></div>
    </div>
</div>



{% for commission in child_commissions %}

{% if commission.datetime_completed %}
<div class="card" style="background-color: gainsboro;">
    {% else %}
    <div class="card">
        {% endif %}

        <div class="card-header d-flex">
            <h5 class="mr-auto">({{commission.id}}.) <a style="color: black;"
                    href="{% url 'show_commission' commission.id %}">{{commission.title}}</a> </h5>
            <div class="font-weight-bold">{% if commission.datetime_completed %}
                <span class="text-primary">Completed</span> {% else %}
                <span class="text-danger">Waitting</span>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card">
        <div class="card-header d-flex">
            <h5>No commission</h5>
        </div>
    </div>
    {% endfor %}

    {% endif %}


    {% endblock %}